
.post-container{
  display:inline-block;
  border:2px solid lightgreen;
  margin: 10px;
  width: 50%;
}

#post-container-template{
  display:none;
}

#post-content{
  font-family: papyrus;
  font-weight: bold;
  background-color: #ddeedd;
  padding: 4px;
  margin: 0px;
}

#post-content img{
  height: 32px;
  width:32px;
  display:inline-block;
  border:2px solid green;
  border-radius: 8px;
  padding: 4px;
}

#post-content-name{
  display:inline-block;
  vertical-align: top;
  font-family: sans-serif;
}

#post-content-name-divider{
  border-color: darkgreen;
}

#post-content-source{
  display:inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

#post-buttons{

}

#post-buttons button{
  font-family:helvetica;
  background-color: lightgreen;
  border:1px solid green;
  margin-top:4px;
  margin-bottom:4px;
  margin-left:4px;
  margin-right: -4px;
  width:40px;
  height:40px;
}

#post-buttons button:hover {
  background-color: #0eaa0e;
}

#post-buttons button:active {
  background-color: #0e330e;
}

#post-buttons button .tool {
  visibility:hidden;
  width: 40px;
  background-color: #aaccaa;
  color: #000;
  opacity: 50%;
  text-align: center;

  position: absolute;
  z-index: 1;
}

#post-buttons button:hover .tool {
  visibility:visible;
}


#post-comment textarea{
  width:95%;
  height: 100px;
  padding:1%;
  margin:1%;
  border:1%;
}

#post-comment textarea:focus{
  outline-color:lightgreen;
}

button img{
  margin:0px;
  padding:0px;
  border:0px;
  width: 20px;
  height:20px;
}

#post-counter{
  display:inline-block;
  float:right;
  margin: 0%;
  padding:0%;
  font-size:28pt;
}
