:root{
    --shade-1: #81B181;
    --shade-2: #579057;
    --shade-3: #3C743C;
    --shade-4: #235E23;
    --shade-5: #104710;
}

body{
    margin: 0;
    padding: 0;
}
.header{ /*  grid container for the top*/
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 5% 35% 5% 50% 5%;
    background-color: lightgreen;
}
#title{
    color: black;
    background-color: #44CC44;
    padding: 8px;
    border-radius: 4px;

    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#navlist{
    vertical-align: middle;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}
.nav{
    background-color: #44CC44;
    color: white;
    position: relative;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}
.nav:hover{
    background-color: #44CC44;
    color: green;
}

#current{
    background-color: #003C00;
}
